@model ItemViewModel
@{
    ViewData["Title"] = "Five Store - Home";
    Layout = null;
    var usuarioLogado = @Context.GetSession();
}

<link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/css/home.css" />

<div class="conteudo">
    <div class="conteudo-roupa">
    <div class="conteudo-topo">
        <div class="menu-esquerda">
            @if(usuarioLogado != null && usuarioLogado.IdTipoUsuario == 3)
            {
                <h3>Bem vindo, @TempData["Nome"]</h3>
            }
            else if(usuarioLogado != null && usuarioLogado.IdTipoUsuario != 3) {
                <a asp-controller="Admin" asp-action="Index"><h3>Admin</h3></a>
            }
            else {
            <a asp-controller="Login" asp-action="Index"><h3>Login</h3></a>
            }
        </div>
        <div class="logo">
            <img src="~/img/fivelogo.png" />
        </div>
        <div class="menu-direita">
            <div class="menu-direita-favoritos">
                <img src="~/img/heart.png" />
            </div>
            <div class="menu-direita-carrinho">
                <img src="~/img/cart.png" />
            </div>
        </div>
    </div>
    <div class="pesquisa">
        <input type="text" name="nome" id="input-pesquisa" placeholder="Procurar">
    </div>
    <div class="swiper">
        <div class="conteudo-roupa swiper-wrapper">
            @foreach (var item in Model.itens)
            {
                <div class="swiper-slide">
                    <a onclick="admin.informacaoRoupa('@item.Id')">
                        <div class="conteudo-informacao-roupa">
                            <h4 class="titulo-roupa">@item.Nome</h4>
                            <h3>@item.Preco</h3>
                            <img src="~/img/heart.png" />
                            <div class="conteudo-imagem-roupa">
                                <img src="~/img/camisa-time.png" />
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/pages/admin.js"></script>
    <script>
        admin.init({
            urls: {
                informacaoRoupas: '@Url.Action("InformacaoRoupa", "Login")'
            }
        })
    </script>